<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grid-gallery</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="page-header">
      <p>Grid-gallery</p>
    </div>
    <div class="gallery">
    </div>
    <div class="pagination"></div>
    <div class="page-footer">
      <p> 2018 JBudny </p>
    </div>
  </div>
  <script>
    const socket = io();
    socket.on('init', function(data) {
      createPagination(data);
    });

    let createPagination = (data) => {
      let imageList = data.imageList;
      let nrOfPages = data.nrOfPages;
      let nrOfImages = data.nrOfImages;

      let paginationFixedMenu = () => {
        $(".pagination").append('<a href="#"><p>&laquo; Previous</p></a>');
        $(".pagination").append('<a class="pageNr" aria-label="page ' + 1 + '" href="#" id="p' + 1 + '"><p>' + 1 + '</p></a>');
        $(".pagination").append('<div class="pagination-interactive"</div>');
        $(".pagination").append('<p>of</p><a class="pageNr" aria-label="page ' + nrOfPages + '" href="#" id="p' + nrOfPages + '"><p>' + nrOfPages + '</p></a>');
        $(".pagination").append('<a href="#"><p>Next &raquo;</p></a>');
      }

      paginationFixedMenu();

      $('.pageNr').click(function(e) {
        let id = e.currentTarget.attributes.id.textContent;
        let currentPage = id.substring(1, 2);

        let clearGallery = () => {
          $('.gallery').find('.card').each(function() {
            $(this).remove();
          });
        }

        let showGallery = () => {
          let i = (currentPage * 10) - 10;
          let c = 0;
          while (c < 10) {
            if (i < nrOfImages) {
              $(".gallery").append('<figure class="card"><img class="card-image" src="static/' + imageList[i] + '" alt="Image: ' + i + '"><figcaption class="card-caption">' + imageList[i] + '</figcaption></figure>');
              i++;
              c++;
            } else {
              c = 10;
            }
          }
        }

        let togglePaginationActive = () => {
          $('.pagination').find('a').each(function() {
            $(this).removeClass('pagination-active');
          })
          $('#' + id).toggleClass('pagination-active');
        }

        let makeNumbers = (currentPage, visiblePages) => {
          let i = 0;
          let j = currentPage - 2;
          let k = Number(currentPage) + 2;
          for (j; j <= k; j++) {
            if (j > 1 && j <= data.nrOfPages) {
              visiblePages[i] = j;
              i++;
            }
          }
        }

        let showPages = () => {
          let visiblePages = [];
          makeNumbers(currentPage, visiblePages);
          $('.pagination-interactive').find('.interactiveElement').each(function() {
            $(this).remove();
          });
          if (visiblePages.length > 2) {
            $(".pagination-interactive").append('<p class="interactiveElement">...</p>');
          }
          for (let i = 0; i <= visiblePages.length - 1; i++) {
            $(".pagination-interactive").append('<a class="pageNr interactiveElement" aria-label="page ' + visiblePages[i] + '" href="#" id="p' + visiblePages[i] + '"><p>' + visiblePages[i] + '</p></a>');
          }
        }

        togglePaginationActive();
        clearGallery();
        showGallery();
        showPages();

        return false;
      });
    }
  </script>
</body>

</html>
