<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grid-gallery</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="page-header">
      <p>Real-time gallery</p>
    </div>
    <div class="container">
      <div class="empty">This gallery is empty</div>
      <div class="gallery">
      </div>
    </div>
    <div class="pagination"></div>
    <div class="page-footer">
      <p> 2018 </p><a href="https://github.com/Jbudny">JBudny</a>
    </div>
  </div>
  <script src="js/gallery.js"></script>
</body>

</html>
