* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

body, html {
  height: 100%;
}

.modal-background {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-content {
  position: relative;
  display: block;
  padding: 30px 15px 0 15px;
  z-index: 3;
  background-color: white;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px 15px 7px 15px;
}

.modal-close>p {
  font-family: sans-serif;
  line-height: 1rem;
  font-size: 2.2rem;
  cursor: pointer;
}

.modal-image>img {
  display: block;
  max-height: 67vh;
  max-width: 75vw;
  margin: 0 auto;
}

.modal-caption {
  text-align: center;
  margin: 15px 0;
}

.modal-caption>p {
  display: inline-block;
  border-bottom: 1px solid black;
}

.wrapper {
  background-image: url('/textures/bg_paper.png');
  height: 100%;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px 70px;
  grid-template-areas: "header" "container" "pagination" "footer";
  color: white;
}

.page-header, .page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('/textures/bg_charcoal.png');
  background-size: cover;
}

.page-header {
  grid-area: header;
  font-size: 2.2rem;
  line-height: 2rem;
  font-weight: bold;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.empty {
  position: absolute;
  display: none;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #252525;
  color: #dedede;
}

.gallery {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "card card card card";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.card-image {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 72%;
}

.card-caption {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  line-height: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.pagination {
  grid-area: pagination;
}

.pagination, .pagination-interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination>a, .pagination-interactive>a {
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: black;
}

.pagination>a:hover, .pagination-interactive>a:hover {
  background-color: rgba(40, 40, 40, 0.0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination>.pagination-active, .pagination-interactive>.pagination-active {
  background-color: rgba(40, 40, 40, 0.0);
  font-weight: bold;
}

.nrOfPages, .interactiveElement {
  font-size: 1rem;
  color: black;
}

.page-footer {
  grid-area: footer;
  font-size: 1rem;
}

.page-footer>a {
  margin-left: 0.3rem;
  color: #dedede;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-footer>a:hover {
  color: white;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0)
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0)
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@media only screen and (max-width:768px), (min-width: 769px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .modal-content {
    position: absolute;
  }
  .modal-image>img {
    display: block;
    max-height: 78vh;
    max-width: 100vw;
    margin: 0 auto;
  }
  .wrapper {
    width: 100vw;
    overflow: scroll;
  }
  .gallery {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    margin: 10px;
    max-height: 80vh;
    cursor: default;
  }
  .card:hover {
    -webkit-transform: none;
            transform: none;
  }
  .card-image {
    position: static;
    width: 100%;
    height: 100%;
  }
  .card-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}

@media only screen and (orientation: landscape) and (max-width:768px), (min-width: 769px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .modal-image>img {
    display: block;
    max-height: 60vh;
    max-width: 100vw;
    margin: 0 auto;
  }
  .card {
    width: 45%;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .modal-image>img {
    display: block;
    max-height: 60vh;
    max-width: 100vw;
    margin: 0 auto;
  }
  .card {
    width: 30%;
  }
}
